@media (min-width: 440px) {
  .add-organization-text {
    display: block !important;
  }
}

.add-organization-text {
  display: none;
  box-shadow: none !important;
}

.detail-panel-organization {
  color: #000;
  font-weight: 400;
  line-height: 1.8;
  white-space: pre-wrap;
}

.detail-panel-header {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.8;
}

.add-organization {
  --border-radius: 6px;
  width: max-content;
  height: 40px !important;
  text-transform: none;
  margin-left: 16px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.edit-officer-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}

.edit-officer-button {
  padding: 0 !important;
  display: flex;
  align-items: start;
}

.edit-officer-icon {
  font-size: 18px;
  padding-bottom: 5px;
}
