.line-chart-container {
  width: 100%;
  height: 460px;
}

@media (min-width: 623px) {
  .line-chart-container {
    width: 100%;
    height: 400px !important;
  }
}

@media (min-width: 800px) {
  .line-chart-container {
    height: 460px !important;
  }
}

@media (min-width: 1240px) {
  .line-chart-container {
    width: 45%;
    height: 460px !important;
  }
}
