.organization-form {
  --min-width: 50vw;
  --height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .organization-form {
    --height: 100vh;
  }
}

.organization-form-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
}

.organization-form-title {
  font-size: 3vh;
  font-weight: 600;
}

.organization-form-close {
  font-size: 3vh;
  cursor: pointer;
}

.organization-form-content {
  --background: #fff;
  --padding-top: 30px;
  --padding-start: 40px;
  --padding-end: 40px;
  --padding-bottom: 0;
}

.organization-form-input {
  margin-bottom: 20px;
}

.organization-logo-input {
  margin-bottom: 12px;
}

.organization-form-submit {
  min-width: fit-content;
  width: 20vw;
  margin-bottom: 5vh;
  align-self: center;
  text-transform: none;
}

.upload-logo-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.upload-image-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.organization-image-input {
  font-size: 13px;
}

.organization-logo-preview {
  margin-top: 16px;
  margin-left: 8px;
  width: 160px;
}

.organization-logo-preview-text {
  font-size: 14px;
  margin-left: 8px;
}

.general-info-organization-form {
  font-weight: 500;
  margin-bottom: 20px;
}

.text-area-organization {
  margin-bottom: 40px;
}
