@media only screen and (max-width: 600px) {
  .delete-modal {
    --height: 100vh;
  }
}

.delete-modal {
  --height: 320px;
}

.delete-modal-header {
  position: relative;
  --background: #f7f7f7;
}

.delete-modal-title {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.delete-modal-content {
  --background: #fff;
  --padding-top: 10px;
  --padding-start: 40px;
  --padding-end: 40px;
  --padding-bottom: 0;
}

.delete-modal-desc {
  font-size: 15px;
  font-weight: 500;
}

.delete-input {
  font-size: 15px;
  margin-bottom: 20px;
  min-height: 46px !important;
}
